.container {
  max-width: 1000px;
  height: 600px;
  margin: 10px auto;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #000;
  overflow-y: auto;
}

.content {
  text-align: left;
}

.blurb {
  font-size: 16px;
  font-weight: 400;
  margin-top: 200px;
  font-family: 'ITC Cheltenham Std Book';
  line-height: 24.04px;
  color: #444;
}

.video {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
}

.home-button {
  position: fixed; /* Stays in the same place even when scrolling */
  top: 10px;
  right: 10px;
  z-index: 1000; /* Ensures it is above other elements */
  margin-right: 10px;
  margin-top: 10px; 
}

.home-button a {
  text-decoration: none;
  color: #000; /* Default color */
}

.home-button a:hover {
  color: var(--primary-color); /* Change color on hover */
}
