.post-container {
    width: 800px;
    margin: auto;
}
hr {
    margin: 1em;
}
input, textarea {
    width: 100%;
    font-size: 100%;
}
.comment {
    white-space: pre-line;
    margin-bottom: 1em;
}