body {
    height: 100vh;
    overflow-y: hidden;
}
hr {
    margin: 1em;
}
nav {
    margin-bottom: 0;
}
.post-main-row > td {
    height: calc(100vh - 3rem);
}
.post-sidebar-col {
    width: 2em;
    border-right: 1px solid black;
}
.post-sidebar-item p {
    line-height: 100%;
}
.post-sidebar-item:first-child {
    height: 60%;
}
.post-sidebar-item:not(:first-child) {
    height: 10%;
    border-top: 1px solid black;
}
.post-sidebar-item:nth-child(2) {
    background-color: #FF7083;
}
.post-main-col {
    width: 55%;
    vertical-align: top;
    overflow-y: scroll;
    padding-left: 1em;
    padding-right: 1em;
}
.post-main-container {
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    padding-top: 1rem;
}
.post-info-table {
    width: 100%;
}
.post-info-table * {
    font-family: "Univers LT Std 47 Light Condensed" !important;
    text-transform: uppercase;
}
.post-info-table td {
    width: 33%;
}
.post-title {
    text-align: center;
}
.post-date {
    text-align: right;
}
.post-text * {
    font-family: "ITC Cheltenham Std Book" !important;
}
.post-image-col {
    background-color: #d9d9d9;
    border-right: 1px solid black;
}
.post-image-col img {
    width: 100%;
    margin: auto;
    padding: 3em;
}
.comment-table {
    width: 100%;
}
.comment {
    white-space: pre-line;
    margin-bottom: 1em;
    vertical-align: top;
}
.comment p, b {
    margin-top: 0.5em;
}
.comment td:first-child {
    width: 20%;
}
.comment td:nth-child(2) p {
    border-left: 1px solid gray;
    padding-left: 0.5em;
}
.comment td:last-child {
    width: 2em;
}
.comment-delete {
    width: 2em;
}
.comment-name-input {
    width: 50%;
    font-size: 100%;
}
textarea {
    width: 100%;
    font-size: 100%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.comment-post-button {
    border-radius: 0;
    font-size: 100%;
    margin: 0;
}
.loader {
    border: 0.5em solid #f3f3f3; /* Light grey */
    border-top: 0.5em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 2s linear infinite;
    margin-left: 1em;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}