#home {
    text-align: center;
}
#home * {
    padding: 0;
}
.accent {
    color: rgb(73, 125, 118);
}

.home-text{
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    max-width: 800px;
    border-radius: 40px;
    font-size:50px;
    justify-content:center;
}

.blog-content{
    /* padding:50px; */
}

.blog-post{
    background-color: lightblue;
    border-radius: 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 800px; */
    max-width: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom:20px;
}

.blog-text{
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    max-width: 800px;
    border-radius: 40px;
}

.blog-title{
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:10px;
    padding-bottom: 10px;
    max-width: 800px;
    border-radius: 40px;
    font-size: 24px;
    margin-left: 50px;
    background-color: white;
}

.blog-author{
    margin: auto;
    padding-top:10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    max-width: 800px;
    border-radius: 40px;
    margin-left: 50px;
}

.blog-comments{
    margin: auto;
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    max-width: 800px;
    border-radius: 40px;
}