.preview-post {
    border: 1px solid gray;
    border-radius: 10px;
    margin: auto;
    max-width: 800px;
    text-align: left;
    margin-bottom: 20px;
    cursor: pointer;
}

.preview-inner {
    margin: 10px;
}

.preview-content {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}