@import '../styles.css';

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Full width of the screen */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: 'Univers LT Std 53 Extended';

}

.navbar li:hover {
  background-color: var(--primary-color);
}

.navbar li.active {
  background-color: var(--primary-color); /* Highlight active item */
}

.navbar li {
  cursor: pointer;
  list-style: none;
  width: 100%; /* Each navbar item spans full width */
  text-align: center;
  border-top: 2px solid black;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 20px;
  width: 100%; /* Full width of the screen */
  
}

/* Styles for the Home link with three sections */
.home-link a {
  display: flex;
  justify-content: space-between; /* Spread out the three sections */
  align-items: center;
  width: 100%; /* Span full width */
}

.left-text, .center-text, .right-text {
  flex: 1;
}

.left-text {
  text-align: left;
  padding-left: 10px; /* Add padding for spacing */
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
  padding-right: 10px; /* Add padding for spacing */
}

.navbar span {
  font-size: 0.8rem; /* Smaller font for text inside spans */
  padding: 0; /* Remove padding for tighter layout */
  text-align: right;
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Adjust this value based on your needs */
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-left: auto; /* This pushes the social icons to the right */
}

.social-icon {
  color: inherit;
  text-decoration: none;
}

.social-icon:hover {
  opacity: 0.8;
}