.hidden {
    display: none;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.player-logo {
    width: 380px;
    height: 380px;
    cursor: pointer;
}
.player-logo.spin {
    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.loading-text {
    color: gray;
}

.on-air-container {
    display: flex;
    align-items: flex-start;
  }
  
  .program-info {
    margin-left: 40px; /* Adds some spacing between the Player and Program Information */
  }

  .player-container {
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: -35px; /* Adjust spacing between the time and player */
  }
  
  
  